.App {
  padding: 1em;
  text-align: center;
  background-color: #3A3156;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DBDFE9;
  gap: 1em;
}